@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Open+Sans:wght@300&display=swap');

:root {
    --purple-light: #7e35e4;
    --purple-dark: #54267d;
    --withe: #ffffff;
    --gray: #D6DBDF ; 
    --black: #000000; 

    --font-size-xs: 8.5px;
    --font-size-s: 14.5px; 
    --font-size-m: 20.5px;
    --font-size-l: 41.67;
    --font-size-xl: 55.2px;
    --font-size-xxl: 78.9px;

    --font-family-montserrat: "Montserrat", "sans-serif";
}

*{
    margin: 0;
    box-sizing: border-box;
} 
.header {
    display: flex;
    width: 100%; 
    gap: 0px; 
    position: fixed;
    top: -5px; 
    height: 103px;
    background: var(--withe); 
}
.dad{
    height: 100px; 
}
.contenido{
    height: 1px; 
}

.logo { 
    display: flex; 
    width: 165px; 
    height: 65px;
    position: relative;
    left: 12px; 
    top: 20px; 
    border-radius: 8px; 
}
.logo-celular{
    display: none; 
}

.buscador {
    display: flex;
    align-items: center; 
}

.filtro {
    display: flex;
    align-items: center; 
    padding: 10px;
    width: 700px;
    position: relative;
    left: 290px; 
}

.filtro button {
    display: flex;
    align-items: center;
    position: absolute;
    right: -496px; 
    top: -7px; 
    border-radius: 32px;
    background-color: var(--purple-light);
    border: none;
    padding: 5px;
    width: 40px;
    height: 40px; 
    color: var(--withe);
    justify-content: center;

}
.filtro button:hover{
    background: var(--purple-dark);  
    transition: 0.3s; 
}
.filtro_input { 
    display: none; 
    width: 1433px;
    padding: 11px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(130, 130, 130);
    border: none;
    font-family: var(--font-family-montserrat);
    outline: none; 
}
.filtro_active{
    display: flex;
    position: absolute;
    left: 200px;
    top: -9px;
    height: 46px;
    width: 600px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(130, 130, 130);
    outline: none;
    border: none; 
    font-family: var(--font-family-montserrat);
    padding: 10px; 
}

.filtro_input::placeholder{ 
    font-family: var(--font-family-montserrat); 
}
.filter{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
}
.categoria{
    display: none;  
}

.dad-precio-total{
    display: flex;
    border: solid 1px;
    position: relative;
    left: 753px;
    width: 92px;
    height: 45px;
    top: 33px;
    border-radius: 27px;
}

.precio-total{
    width: 89px;
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.carrito{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    left: 800px;  
    height: 58px;
    top: 26px; 
}
.carrito svg{
   display: flex; 
   justify-content: center; 
   height: 38px;
   width: 32px;
} 
.carrito button{
   display: flex; 
   justify-content: center; 
   align-items: center; 
   border: none;  
}
.icon-cart:hover{
    cursor: pointer; 
}
.count-products{
    position: fixed; 
    top: 50px;
    right: 190px;

    background-color: var(--purple-dark); 
    color: var(--withe); 
    width: 25px;
    height: 25px; 


    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.container-cart{
    position: relative;
    top: 439px; 
    right: 325px;
    background-color: var(--withe);
    width: 519px;
    height: 967px;
    z-index: 1;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
    border-radius: 10px;
    font-family: var(--font-family-montserrat); 
}
.close{
    height: 10px;
    width: 10px;
    cursor: pointer; 
    position: relative;
    left: 145px; 
    color: var(--purple-light) 
}
.info-cart{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    top: 10px; 
    padding: 20px;
    border-radius: 10px; 
    z-index: -1;
}

.hidden-product{
    display: none; 
}


.container-borrar-carrito{
    width: 22px;
    height: 38px;
    display: flex;
    position: absolute;
    top: -17px;
    right: -15px;
    cursor: pointer; 
}

.container-borrar-carrito svg{
    width: 20px; 
    opacity: .3;
}

.info-cart h4{ 
    font-weight: bold; 
}
.linea-carrito{
    background:var(--gray); 
    width: 100%; 
    height: 1px; 
    display: flex; 
}

.dad-container-products{
    height: 705px; 
    position: relative;
    overflow-y: auto;
}

.container-products{ 
    overflow-y: auto;
    position: relative;
    left: 0;
    height: 700px; 
}

.container-total{
    display: flex;
    position: relative;
    padding: 20px; 
    top: 5px; 
    font-weight: bold;
}
.precio-total{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px; 
}
.dad-pagar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagar{
    border-radius: 50px; 
    background: var(--purple-light);
    color: var(--withe); 
    width: 200px; 
}
.pagar:hover{
    background: var(--purple-dark);
    transition: .5s;
}
.pagar:active{
    background: var(--purple-light);
    transition: .2s; 
}

.cart-product{
    display: flex;  
    padding: 30px;
    justify-content: space-between; 
    border-bottom: 1px solid rgb(0, 0, 0, 0.20);
    gap: 30px;  
    height: 141px; 
}
#cart-product{
    border-radius: 20px; 
    background-color: var(--purple-light); 
    color: var(--withe); 
    width: 40px;
}

.info-cart-product{
    display: block;
    position: relative;
    left: -17px;
    width: 470px; 
    height: 110px; 
} 

.imagen-carrito{
    width: 90px; 
}
.imagen-carrito img{
    width: 78px;  
}

.nombre-product{
    font-size: var(--font-size-s); 
    font-weight: bold;
    width: 245px;
    position: relative;
    top: -98px; 
    left: 100px;
}

.precio-product{
    font-weight: 700;  
    font-size: var(--font-size-s);
    margin-left: 10px; 
    position: relative;
    left: 350px;
    bottom: 72px;
}

.quantity{
    display: flex;
    gap: 10px; 
    position: relative;
    left: 100px;
    bottom: 96px;
    width: 90px;
}
.quantity button{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 18px;
    height: 18px;
    background: var(--purple-light);
    color: var(--withe);
    border: none;
    border-radius: 40px;
}

.quantity button:hover{
    background: var(--purple-dark);
    transition: .5s;

}

.quantity button:active{
    background: var(--purple-light);
    transition: .2s;
}

.cantidad{
    font-weight: 400; 
    font-size: var(--font-size-m); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.total{
    display: flex; 
    position: relative;
    top: 10px;
    
}

.total h3{
    font-weight: 700; 
}

.total-pagar{
    font-size: var(--font-size-m); 
    font-weight: bold;  
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    cursor: pointer; 
}
.container-icon-trash{ 
    display: none; 
    position: relative;
    right: 9px; 
    border-radius: 40px; 
    opacity: .5;
}

.container-void{
    display: none;  
    height: 169px;
    position: relative;
    bottom: 337px;
}

.container-void h4{
    font-weight: bold; 
}

.hidden-void{
    display: flex; 
    justify-content: center;
    align-items: center; 
}


.hidden-cart{
    display: none; 
    position: absolute;
    top: 367px;
    left: 176px;
} 

.cart-empty{
    padding: 20px; 
    text-align: center;
    font-family: var(--font-family-montserrat); 
}

.linea {
    background-color: var(--purple-light);
    height: 3px;
    width: 100%; 
    position: absolute;
    top: 100px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 1240px;
    height: 361px;
    padding: 20px;
    position: relative;
    top: 126px;
    left: 330px;
    z-index: -1;

    border-radius: 10px;
} 

.banner img{
    height: 369px; 
    border-radius: 33px;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards_dad { 
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    position: relative;
    left: 50px; 
    width: 1800px;  
    top: 128px;
}

.card { 
    border-radius: 50px; 
    font-family: var(--font-family-montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 

}

.card img{  
    width: 130px; 
    height: 138px; 
    position: relative;
    left: 65px; 
    object-fit: cover; 
    transition: all .5s; 

}

.card-title{
    position: relative;
    top: 10px;
    font-weight: bold; 
}

.card p{
    position: relative;
    top: 7px; 
    font-size: var(--font-size-s); 
}

.card h6{
    position: absolute;
    bottom: 34px; 
}

.card:hover img{ 
    transform: scale(1.2); 
    cursor: pointer;
}

.boton_catalogo{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
} 
.boton_catalogo button{
    background-color: var(--purple-dark);
    border: none;
    width: 80px;
    height: 38px;
    border-radius: 33px;
    color: var(--withe); 
}

.container-botones {
    position: absolute;
    bottom: 10px;
    left: 100px;  
    border-radius: 30px;
}

.boton_catalogo button:hover{ 
    background: var(--purple-light);  
    color: var(--withe); 
    transition: 0.4s; 
} 
.boton_catalogo button:active{
    background: var(--purple-dark); 
    transition: .2s;
}
.contador{ 
    display: inline-block; 
    text-align: center;
    outline: none;
    border-radius: 10px; 
    color: var(--purple-dark);
    width: 80px;
    border: none; 
}

.container-botones button {  
    background-color: var(--purple-light);
    width: 80px; 
    border-radius: 10px; 
    align-items: center;
    justify-content: center; 
    border: none; 
    color: var(--withe); 
    cursor: pointer; 
}
.card:hover button{ 
    background-color: var(--purple-dark);
    transition: 0.5s; 
}
.card:active button{ 
    transition: 0.4s; 
    background: var(--purple-light); 
}

.hidden-categoria{
    display: none; 
}

.dad-categoria{
    display: flex;
    position: relative; 
    left: 580px; 
    top: 37px;
    height: 355px;
    width: 200px; 
}

.container-icon-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    background: var(--purple-light);
    color: var(--withe);
    position: relative;
    left: 70px;
    border-radius:30px;
    cursor: pointer; 
}

.icon-filter{
    width: 40px;
    height: 30px; 
}

.main-wrapper{
    font-family: var(--font-family-montserrat); 
    position: relative; 
    z-index: 1;
}
.main-wrapper input [type="radio"]{
    display: none 
}

.categorias{
    display: none; 
}

.container-categoria{
    display: block; 
}
ul{
    list-style-type: none; 
}

.list-categoria{
    display: block;
    text-align: center;
    margin-top: 20px; 
    border-radius: 30px; 
}

.list-categoria li{
    display: block;  
}

.list-categoria label:hover{
    background: var(--purple-dark); 
    transition: .4s; 
}

.list-categoria label{
    display: flex;
    cursor: pointer;
    background: var(--purple-light);
    color: var(--withe);
    box-shadow: 0 0 2px rgb(0,0,0,0.24);
    padding: 15px 16px;
    border-radius: 16px;  
} 

.cards{
    display: none; 
}

.card{
    display: none;
}
.dads{
    display: none; 
}

.product{
    display: none; 
}

.hide{
    display: none; 
}

/*Responsive*/

@media screen and (max-width: 1400px) {
    .filtro_input{
        width: 900px; 
    }
} 

@media screen and (max-width: 1300px) {
    .filtro_input{
        width: 900px; 
    }
}

@media screen and (max-width: 1380px){  

    .logo{
        display: flex; 
        width: 165px; 
        height: 65px;
        position: relative; 
        left: 15px; 
        top: 20px; 
    }

    .filtro_input{ 
        width: 670px; 
        display: none;
    }
    .filtro_active{
        left: 100px; 
        top: -9px;
        height: 42px; 
    }
    .filtro button{
        right: -352px;
        width: 41px;
        height: 41px;
        top: -4px; 
    }
    .cards_dad{ 
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative;
        left: 40px; 
        width: 1200px; 
        top: 128px;  
    } 
    .filtro{
        position: relative;
        left: -61px;
    }
    .carrito{
        position: relative;
        left: 350px; 
    }
    .count-products{
        right: 20px; 
    }
    .container-menu{
        display: none;
        right: 160px;
    }
    .dad-container-products {
        height: 564px;
        position: relative;
        overflow-y: auto;
    }
    .dad-categoria{
        display: flex; 
        left: 190px;
        width: 40px;
        height: 3px;
    } 
    
    .container-cart{
        right: 494px;
        box-shadow: 0 4px 8px rgb(130, 130, 130);
        top: 350px;
        height: 790px;
    }
    .banner{
        width: auto;
        left: auto;
    }
    .banner img{
        height: 217px; 
        border-radius: 17px 17px 0 0 ;
    }
    .container-borrar-carrito{
        right: -25px; 
    }
}
@media screen and (max-width: 1120px){
    .filtro_input{
        width: 750px; 
    }
    .logo{
        left: 20px;   
    }
    .filtro{
        width: 200px; 
        position: relative;
        left: 155px; 
    }
    .container-menu{
        position: relative;
        display: none;
        left: 160px;
    }
    .container-cart-products{
        width: 500px; 
        right: 4px; 
    }
    .carrito {
        position: relative;
        left: 600px; 
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative;
        left: auto; 
        width: auto;  
        top: 128px 
    }
    .dad-menu{
        display: contents; 
    }
}



@media screen and (max-width: 885px){  
    .logo{
        left: 20px;   
    }
    .buscador{
        position: absolute;
        top: 42px;
        left: 175px;
    }
    .filtro{
        width: 200px; 
        position: relative;
        left: 50px; 
    }
    .filtro_input{
        display: none;
    } 
    .filtro_active{
        position: absolute;
        box-shadow: 0 4px 8px rgb(130,130, 130);
        border-radius: 40px;
        height: 52px;
        border: none;
        outline: none;
        left: 3px;
        top: -13px;
        width: 300px;
    }
    .filtro button{
        display: flex;
        position: absolute;
        left: 385px; 
        top: -4px; 
        width: 40px; 
        height: 40px;
        display: flex;
        justify-content: center; 
    }
    .select-menu .select-btn{
        width: 42px;
        height: 42px;
        left: 333px;
        top: 1px;
        background: var(--purple-light);
        border-radius: 40px;
        color: var(--withe);
        box-shadow: none;
    }
    .select-menu .options{
        left: 275px;
    }
    .sBtn-text{
        display: none;
    }
    .svg-menu{
        display: none; 
    }
    .filter{
        width: 35px;
        height: 31px; 
        display: flex;
        justify-content: center;

    }
    .container-menu{
        position: absolute;
        display: none;
        left: 318px;
        width: 180px; 
    }
    .container-cart-products{
        width: 500px; 
        right: 4px; 
    }
    .carrito {
        position: absolute;
        left: 700px; 
    }
    .container-borrar-carrito{
        right: -11px;
    }
    .count-products{
        position: absolute;
        top: 29px;
        right: 1px; 
    }
    .close{
        left: 111px;
    }
    .dad-container-products{
        width: 500px;
        position: relative;
        height: 689px;
    }
    .total{
        left: 70px;
    }
    .precio-total{
        left: 100px; 
    }
    .container-cart{
        right: 478px; 
        width: 500px;
        top: 445px;
        height: 981px;
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative;
        left: auto; 
        width: auto;  
        top: 128px 
    }
    .dad-menu{
        display: contents; 
    }
    .dad-categoria{
        display: flex; 
        left: 420px;
        width: 40px;
        height: 103px; 
    } 

    .banner{
        width: auto;
        left: auto;
    }

    .banner img{
        height: 146px;
        border-radius: 17px 17px 0 0;

    }
     
}

@media screen and (max-width: 460px){  
    .logo{
        display: none; 
    }
    .logo-celular{
        display: flex;
        height: 45px; 
        position: absolute;
        top: 30px;
        left: 20px; 

    }
    .filtro_input {
        width: 190px;
        display: none;
    }
    .filtro_active{
        position: absolute;
        box-shadow: 0 4px 8px rgb(130,130, 130);
        border-radius: 40px;
        height: 51px;
        border: none;
        outline: none;
        left: 21px;
        top: -14px;
        width: 200px;
    }
    .filtro button{
        display: flex;
        position: absolute;
        left: 175px; 
        top: -9px;
        width: 40px; 
        height: 40px; 
        display: flex;
        justify-content: center; 
        box-shadow: none;
    }
    .container-cart-products{
        width: 345px;
        right: -38px; 
    }

    .info-cart-product{
        width: 285px;
    }
    .buscador{
        position: absolute;
        left: -32px;
        top: 47px;
    }
    .filtro{
        position: relative;
        left: 68px;     
        display: flex; 
    }
    .carrito {
        position: absolute;
        left: 300px;  
    }
    .count-products{
        right: 0px; 
    }
    .close{
        left: 70px;
    }
    .dad-container-products{
        width: 358px;
        position: relative;
        left: 4px; 
        height: 563px;
    }
    .container-total{
        top: -13px;
    }
    .dad-categoria{
        display: flex; 
        left: 185px; 
        width: 40px;
        height: 3px;
    } 
    .dad-pagar{
        position: relative;
        bottom: 15px;    
    }
    .total{
        left: 70px;
    }
    .precio-total{
        left: 100px; 
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative; 
        left: 1px;
        width: auto; 
        top: 128px;
    }
    .dad-menu{
        display: contents; 
    }
    .container-cart{
        right: 342px;
        position: relative;
        width: auto;
    }
    .container-menu{
        position: absolute;
        top: 35px; 
        left: 46px;
        display: none; 
    }
    .banner{
        width: auto;
        left: auto;
    }
    
    .banner img{
        height: 67px;
        border-radius: 17px 17px 0 0;
    }

    .info-cart svg{
        position: relative;
        top: -5px; 
        left: 45px; 
    }
    .precio-product{  
        font-size: var(--font-size-s);
        margin-left: 10px;
        position: relative;
        left: 179px;
        bottom: 78px;
    
    }
    .quantity{
        left: 100px; 
        bottom: 122px;
    }
    .container-borrar-carrito{
        top: 69px; 
        left: auto;
    }
}

@media screen and (max-width: 320px) {
    .logo{
        display: none; 
    } 
    .filtro_input{
        max-width: 180px;   
    }
    .container-cart-products{
        width: 301px;
    }
    .filtro{
        position: relative;
        left: 50px;      
    }
    .dad-container-products{
        height: 350px;
    }
    .carrito {
        position: relative;
        left: 277px;
        top: 28px;
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative; 
        left: 1px;
        width: auto; 
        top: 128px;
    }
    .categoria svg{
        width: 42px;
        height: 40px; 
        cursor: pointer; 
        position: absolute; 
        bottom: 17px; 
    }
}