@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Open+Sans:wght@300&display=swap'); 

:root {
    --purple-light: #7e35e4;
    --purple-dark: #54267d;
    --purple-lighter: #9164e6; 
    --withe: #ffffff;
    --gray: #D6DBDF ; 
    --black: #000000; 
    --red:#E03D70; 

    --font-size-xs: 8.5px;
    --font-size-s: 14.5px; 
    --font-size-m: 20.5px;
    --font-size-l: 41.67;
    --font-size-xl: 55.2px;
    --font-size-xxl: 78.9px;

    --font-family-montserrat: "Montserrat", "sans-serif";
}

body{
    color: var(--withe); 
    font-family: var(--font-family-montserrat);
}
.dad-checkout{
    border-radius: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--black);
    width: 620px; 
    position: relative; 
    left: 30%;
    background: var(--purple-dark);
}

.container-checkout{
    background: transparent;
}

.titulo-checkout{
    display: flex;
    justify-content: center;
}

form{
    display: block;
    align-items: center;
    padding: 13px; 
}

form input{
    display: flex;
    position: relative;
    width: 300px;
    height: 25px;
    border-radius: 30px;
    border: none; 
    outline: none;

    box-shadow: 0 0 5px var(--withe);
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
}

.container-btn button{ 
    background: var(--withe);
    color: var(--black);
    border: none; 
    width: 130px;
    height: 40px;
    border-radius: 30px; 
    cursor: pointer;
}

.container-btn button:hover{
    background: var(--purple-light);
    color: var(--withe);
    transition: .4s; 
    box-shadow: 0 0 10px var(--withe);
}

.container-btn button:active{
    background: var(--purple-dark);
    transition: .1s;
}

.tipo-persona input{
    display: flex; 
    width: 20px; 
    box-shadow: none;   
}

/*Clases dinamicas desde js*/

.invalid{
    border: solid 1px var(--red); 
    box-shadow: 0 0 10px var(--red); 
}

.error{
    color: var(--red); 
    display: block; 
}


@media screen and(max-width: 1380px){ 
    .dad-checkout{
        width: 640px;
        left: 10px;
    }
}

@media  screen and (max-width: 885px) {
    .dad-checkout{
        width: auto;
        left: auto;
    }
}

@media screen and (max-width: 460px){

    .dad-checkout {
        width: auto;
        left: auto; 
    } 
}

@media screen and(min-width: 1280px) {

    .dad-checkout{
        width: auto;
        left: auto;
    }
    
}