@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Open+Sans:wght@300&display=swap');

:root {
    --purple-light: #7e35e4;
    --purple-dark: #54267d;
    --withe: #ffffff;
    --gray: #D6DBDF ; 

    --font-size-xs: 8.5px;
    --font-size-s: 14.5px; 
    --font-size-m: 20.5px;
    --font-size-l: 41.67;
    --font-size-xl: 55.2px;
    --font-size-xxl: 78.9px;

    --font-family-montserrat: "Montserrat", "sans-serif";
}

*{
    margin: 0;
    box-sizing: border-box;
} 
.header {
    display: flex;
    width: 100%; 
    gap: 0px; 
    position: fixed;
    top: -5px; 
    height: 103px;
    background: var(--withe); 
}
.dad{
    height: 1px;
}
.contenido{
    height: 1px; 
}

.logo { 
    display: flex; 
    width: 165px; 
    height: 65px;
    position: relative;
    left: 12px; 
    top: 20px; 
    border-radius: 8px; 
}

.buscador {
    display: flex;
    align-items: center; 
}

.filtro {
    display: flex;
    align-items: center; 
    padding: 10px;
    width: 700px;
    position: relative;
    left: 290px; 
}

.filtro button {
    display: flex;
    align-items: center;
    position: relative;
    right: 38px;
    border-radius: 32px;
    background-color: var(--purple-light);
    border: none;
    padding: 5px;
    width: 28px;
    color: var(--withe);
}
.filtro button:hover{
    background: var(--purple-dark);  
    transition: 0.3s; 
}
.filtro_input { 
    width: 1433px;
    padding: 11px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(130, 130, 130);
    border: none;
    font-family: var(--font-family-montserrat);
    outline: none; 
    display: flex; 
}

.filtro_input::placeholder{ 
    font-family: var(--font-family-montserrat); 
}

.categoria{
    display: none; 
}
.carrito{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    left: 800px;  
}
.carrito svg{
   display: flex; 
   justify-content: center; 
   height: 38px;
   width: 32px;
} 
.carrito button{
   display: flex; 
   justify-content: center; 
   align-items: center; 
   border: none;  
}
.icon-cart:hover{
    cursor: pointer; 
}
.count-products{
    position: absolute; 
    top: 55%; 
    right: 0; 

    background-color: var(--purple-dark); 
    color: var(--withe); 
    width: 25px;
    height: 25px; 


    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}


.container-cart-products{
    position: absolute; 
    top: 90px; 
    right: -170px; 

    background-color: var(--withe);  
    width:500px; 
    z-index: 1;

    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20); 
    border-radius: 10px; 
    
    overflow: auto;
}

.cart-product{
    display: flex;  
    padding: 30px;
    justify-content: space-between; 
    border-bottom: 1px solid rgb(0, 0, 0, 0.20);
    gap: 30px;  
}
#cart-product{
    border-radius: 20px; 
    background-color: var(--purple-light); 
    color: var(--withe); 
}

.quantity{
    display: flex;
    gap: 10px; 
    position: relative;
    right: -30px; 
}
.quantity button{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 25px;
    height: 25px;
    background: var(--purple-light);
    color: var(--withe);
    border: none;
    border-radius: 40px;
}

.quantity button:hover{
    background: var(--purple-dark);
    transition: .5s;

}

.quantity button:active{
    background: var(--purple-light);
    transition: .2s;
}

.info-cart-product{
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 0.8;
    gap: 40px; 
    position: relative;
    left: -17px;
}

.nombre-product{
    font-size: var(--font-size-m);
}

.precio-product{
    font-weight: 700;  
    font-size: var(--font-size-m);
    margin-left: 10px; 
}

.cantidad{
    font-weight: 400; 
    font-size: var(--font-size-m); 
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 ; 
    gap: 20px;
}

.total h3{
    font-weight: 700; 
}

.total-pagar{
    font-size: var(--font-size-m); 
    font-weight: bold;  
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    cursor: pointer; 
}

.hidden-cart{
    display: none; 
}

.cart-empty{
    padding: 20px; 
    text-align: center;
    font-family: var(--font-family-montserrat); 
}

.linea {
    background-color: var(--purple-light);
    height: 3px;
    width: 100%; 
    position: absolute;
    top: 100px;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards_dad { 
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    position: relative;
    left: 50px; 
    width: 1800px;  
    top: 128px;
}

.card { 
    border-radius: 50px; 
    font-family: var(--font-family-montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 

}

.card img{  
    width: 80px; 
    height: 80px; 
    position: relative;
    left: 80px; 
    object-fit: cover; 
    transition: all .5s; 

}

.card-title{
    position: relative;
    top: 10px;
    font-weight: bold; 
}

.card p{
    position: relative;
    top: 20px; 
    font-size: var(--font-size-s); 
}

.card h6{
    position: absolute;
    bottom: 48px;
}

.card:hover img{ 
    transform: scale(1.2); 
    cursor: pointer;
}

.boton_catalogo{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
} 
.boton_catalogo button{
    background-color: var(--purple-dark);
    border: none;
    width: 80px;
    height: 38px;
    border-radius: 33px;
    color: var(--withe); 
}

.container-botones {
    position: absolute;
    bottom: 10px;
    left: 100px;  
    border-radius: 30px;
}

.boton_catalogo button:hover{ 
    background: var(--purple-light);  
    color: var(--withe); 
    transition: 0.4s; 
} 
.boton_catalogo button:active{
    background: var(--purple-dark); 
}
.contador{ 
    display: inline-block; 
    text-align: center;
    outline: none;
    border-radius: 10px; 
    color: var(--purple-dark);
    width: 80px;
    border: none; 
}

.container-botones button {  
    background-color: var(--purple-light);
    width: 80px; 
    border-radius: 10px; 
    align-items: center;
    justify-content: center; 
    border: none; 
    color: var(--withe); 
    cursor: pointer; 
}
.card:hover button{ 
    background-color: var(--purple-dark);
    transition: 0.5s; 
}
.card:active button{ 
    transition: 0.4s; 
    background: var(--purple-light); 
}

.dad-menu{
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-size-m);
    flex-wrap: wrap;  
    width: 250px; 
    height: 315px;
    border-radius: 10px; 
    background: var(--withe); 
    position: fixed; 
    display: contents; 
    top: 33px; 
    gap: 30px;  
    left: 10px; 
}
.container-menu{
    display: flex; 
    gap: 18px; 
    width: 250px; 
    position: relative;
    top: 33px;
    left: 290px; 
} 
.select-menu .select-btn{
    width: 170px; 
    box-shadow: 0 0 5px ;
    border-radius: 10px; 
    display: flex; 
    position: relative; 
    left: 13px;  
    justify-content: space-between; 
    padding: 7px;
    cursor: pointer; 
}
.select-btn img{
    font-size: 25px; 
    transition: 0.3s;
}
.select-menu.active .select-btn img{
    transform: rotate(-180deg);
}

.select-menu .options{
    position: relative;
    padding: 1px;
    margin-top: 10px; 
    border-radius: 8px;
    box-shadow: 0 0 5px; 
    top: 25px; 
    width: 170px;
    left: 14px;  
    display: none;   
} 

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 40px;
    cursor: pointer;
    align-items: center;
    border-radius: 8px; 
    padding: 0 9px;  
}
.options{
    background-color: var(--withe); 
}
.option .options:hover{
    background: #F2F2F2;
} 

.boton-filtro-menu{
    display: flex;
    height: 37px; 
    align-items: center;
    justify-content: center;
}

.boton-filtro-menu button{
    border-radius: 10px; 
    background: var(--purple-light);
    color: var(--withe);    
    border: none; 
}

.boton-filtro-menu:hover button{
    background: var(--purple-dark);  
    transition: 0.5s;
}

.boton-filtro-menu:active button{
    background: var(--purple-light);
    transition: 0.1s;  
}

.cards{
    display: none; 
}

.card{
    display: none;
}
.dads{
    display: none;
    width: 0;
    height: 0;

}

.product{
    display: none; 
}

.hide{
    display: none; 
}



@media screen and (max-width: 1400px) {
    .filtro_input{
        width: 900px; 
    }
} 

@media screen and (max-width: 1300px) {
    .filtro_input{
        width: 900px; 
    }
}

@media screen and (max-width: 1380px){  

    .logo{
        display: flex; 
        width: 165px; 
        height: 65px;
        position: relative; 
        left: 15px; 
        top: 20px; 
    }

    .filtro_input{ 
        width: 670px; 
    }
    .cards_dad{ 
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative;
        left: 40px; 
        width: 1200px; 
        top: 128px;  
    } 
    .filtro{
        position: relative;
        left: 33px; 
    }
    .carrito{
        position: relative;
        left: 350px; 
    }
    .container-menu{
        left: -40px; 
    }
    .container-cart-products{
        width: 500px;  
        right: 5px; 
    }
}
@media screen and (max-width: 1120px){
    .filtro_input{
        width: 750px; 
    }
    .logo{
        left: 20px;   
    }
    .filtro{
        width: 200px; 
        position: relative;
        left: 155px; 
    }
    .container-menu{
        position: relative;
        left: 160px;
    }
    .container-cart-products{
        width: 500px; 
        right: 4px; 
    }
    .carrito {
        position: relative;
        left: 600px; 
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative;
        left: auto; 
        width: auto;  
        top: 128px 
    }
    .dad-menu{
        display: contents; 
    }
}



@media screen and (max-width: 885px){  
    .logo{
        left: 20px;   
    }
    .filtro{
        width: 200px; 
        position: relative;
        left: 50px; 
    }
    .container-menu{
        position: relative;
        left: 25px;
    }
    .container-cart-products{
        width: 500px; 
        right: 4px; 
    }
    .carrito {
        position: relative;
        left: 355px; 
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative;
        left: auto; 
        width: auto;  
        top: 128px 
    }
    .dad-menu{
        display: contents; 
    }
     
}

@media screen and (max-width: 460px){  
    .logo{
        display: none; 
    }
    .filtro_input{
        width: 190px;   
    }
    .container-cart-products{
        width: 345px;
        right: -38px; 
    }

    .info-cart-product{
        gap: 20px
    }
    .buscador{
        width: 430px; 
    }
    .filtro{
        position: relative;
        left: 68px;     
        display: none; 
    }
    .carrito {
        position: relative;
        left: 205px;  
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative; 
        left: 1px;
        width: auto; 
        top: 128px;
    }
    .dad-menu{
        display: contents; 
    }
    .container-menu{
        position: relative;
        top: 30px; 
        left: -120px;
    }

}

@media screen and (max-width: 320px) {
    .logo{
        display: none; 
    } 
    .filtro_input{
        max-width: 180px;   
    }
    .container-cart-products{
        width: 301px;
    }
    .filtro{
        position: relative;
        left: 50px;      
    }
    .carrito {
        position: relative;
        left: 40px;
    }
    .cards_dad {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: relative; 
        left: 1px;
        width: auto; 
        top: 128px;
    }
    .categoria svg{
        width: 42px;
        height: 40px; 
        cursor: pointer; 
        position: absolute; 
        bottom: 17px; 
    }
}